networks:
  mynet:
    driver: bridge

services:
  aria2c:
    restart: unless-stopped
    container_name: aria2c
    image: wahyd4/aria2-ui:latest
    ports:
      - "80:80"
      - "443:443"
    networks:
      - mynet
    environment:
      # User and permissions
      - PUID=1000
      - PGID=1000

      # Authentication
      - ENABLE_AUTH=true
      - ARIA2_USER=mst
      - ARIA2_PWD=1212
      - RPC_SECRET=your_rpc_secret

      # Aria2 settings
      - ARIA2_EXTERNAL_PORT=443

      # Domain and Caddyhello
      - DOMAIN=mirror.mstservices.tech
      - CADDY_LOG_LEVEL=INFO
      # - CADDY_ACME_CA=https://acme-staging-v02.api.letsencrypt.org/directory

      # FileBrowser
      - ENABLE_FILEBROWSER=true

      # Rclone
      - ENABLE_RCLONE=false

      #  - RCLONE_CONFIG_BASE64=...
      - RCLONE_AUTO_UPLOAD_PROVIDER=gdrive # Only the first remote will be used! mega,putio
      - RCLONE_AUTO_UPLOAD_REMOTE_PATH=/
      - RCLONE_AUTO_UPLOAD_FILE_MIN_SIZE=10K
      - RCLONE_AUTO_UPLOAD_FILE_MAX_SIZE=45G
      - FIX_DATA_VOLUME_PERMISSIONS=true
    volumes:
      - ./data:/data
      - ./cache:/app/.cache
      - ./configs/rclone.conf:/app/conf/rclone.conf
      - ./configs/SecureCaddyfile:/etc/caddy/Caddyfile
#      - ./configs/SecureCaddyfile:/etc/caddy/Caddyfile
#      - ./configs/aria2.conf:/app/conf/aria2.conf  #This cuases gdrive upload to not work

#  plex:
#    container_name: plex
#    image: spritsail/plex-media-server
#    volumes:
#      - ./data:/media:rw # The media folder
#      - ./transcode:/transcode # Transcoder temporary directory
#      - ./config:/config # Configurations
#    environment:
#      - LOG_DEBUG=0
#      - LOG_VERBOSE=0
#      - PLEX_CLAIM=claim-5PhyapPgsC31GUA_YHLB
#    restart: unless-stopped
#    hostname: "kens-plex-server" # change the name to whatever you like
#    ports:
#      - "32400:32400" # The web port
#      - "3005:3005" # The following ports are optional

  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    user: 1000:1000
    environment:
      - TZ=UTC
    volumes:
      - ./data:/media
      - ./config:/config
      - ./cache:/cache
    ports:
      - 8096:8096   # HTTP web interface
      # - 8920:8920 # HTTPS (optional, needs extra setup)
      # - 7359:7359/udp # Auto-discovery (optional)
      # - 1900:1900/udp # DLNA (optional)
    restart: unless-stopped
    networks:
      - mynet
