networks:
  mynet:
    driver: bridge

services:
  aria2c:
    restart: unless-stopped
    container_name: aria2c
    image: wahyd4/aria2-ui:latest
    ports:
      - "80:80"
      - "443:443"
    networks:
      - mynet
    environment:
      # User and permissions
      - PUID=1000
      - PGID=1000

      # Authentication
      - ENABLE_AUTH=true
      - ARIA2_USER=mst
      - ARIA2_PWD=1212
      - RPC_SECRET=your_rpc_secret

      # Aria2 settings
      - ARIA2_EXTERNAL_PORT=443

      # Domain and Caddyhello
      - DOMAIN=t3.privatedns.org
      - CADDY_LOG_LEVEL=INFO
      # - CADDY_ACME_CA=https://acme-staging-v02.api.letsencrypt.org/directory

      # FileBrowser
      - ENABLE_FILEBROWSER=true

      # Rclone
      - ENABLE_RCLONE=false

      #  - RCLONE_CONFIG_BASE64=...
      - RCLONE_AUTO_UPLOAD_PROVIDER=gdrive # Only the first remote will be used! mega,putio
      - RCLONE_AUTO_UPLOAD_REMOTE_PATH=/
      - RCLONE_AUTO_UPLOAD_FILE_MIN_SIZE=10K
      - RCLONE_AUTO_UPLOAD_FILE_MAX_SIZE=45G
      - FIX_DATA_VOLUME_PERMISSIONS=true
    volumes:
      - ./data:/data
      - ./cache:/app/.cache
      - ./configs/rclone.conf:/app/conf/rclone.conf
      - ./configs/SecureCaddyfile:/etc/caddy/Caddyfile
#      - ./configs/SecureCaddyfile:/etc/caddy/Caddyfile
#      - ./configs/aria2.conf:/app/conf/aria2.conf  #This cuases gdrive upload to not work

#  plex:
#    container_name: plex
#    image: spritsail/plex-media-server
#    volumes:
#      - ./data:/media:rw # The media folder
#      - ./transcode:/transcode # Transcoder temporary directory
#      - ./config:/config # Configurations
#    environment:
#      - LOG_DEBUG=0
#      - LOG_VERBOSE=0
#      - PLEX_CLAIM=claim-5PhyapPgsC31GUA_YHLB
#    restart: unless-stopped
#    hostname: "kens-plex-server" # change the name to whatever you like
#    ports:
#      - "32400:32400" # The web port
#      - "3005:3005" # The following ports are optional

  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    user: 1000:1000
    environment:
      - TZ=UTC
    volumes:
      - ./data:/media
      - ./config:/config
      - ./cache:/cache
    ports:
      - 8096:8096   # HTTP web interface
      - 8920:8920 # HTTPS (optional, needs extra setup)
      - 7359:7359/udp # Auto-discovery (optional)
      - 1900:1900/udp # DLNA (optional)
    restart: unless-stopped
    networks:
      - mynet

  jellyseerr:
    image: ghcr.io/fallenbagel/jellyseerr:latest
    init: true
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=Asia/Tashkent
      - PORT=5055 #optional
    ports:
      - 5055:5055
    volumes:
      - ./data:/media
      - /jfconfig:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped
    networks:
      - mynet

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    ports:
      - "7878:7878"
    volumes:
      - ./config/radarr:/config
      - ./torrents:/downloads
      - ./data:/movies
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
      - UMASK_SET=00
    networks:
      - mynet

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    ports:
      - "8989:8989"
    volumes:
      - ./config/sonarr:/config
      - ./torrents:/downloads
      - ./data:/tv
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
      - UMASK_SET=00
    networks:
      - mynet

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    ports:
      - "45789:45789"
      - "6881:6881"
      - "6881:6881/udp"
    volumes:
      - ./config/qbittorrent:/config
      - ./torrents:/downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
      - WEBUI_PORT=45789
      - DOCKER_MODS=ghcr.io/vuetorrent/vuetorrent-lsio-mod:latest
      - UMASK_SET=002
    networks:
      - mynet

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    restart: unless-stopped
    ports:
      - "9117:9117"
    volumes:
      - ./config/jackett:/config
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
    networks:
      - mynet
