services:
  aria2-ui:
    restart: unless-stopped
    image: wahyd4/aria2-ui:latest
    ports:
      - "80:80"
      - "443:443"
      - "6800:6800"
    environment:
      # User and permissions
      - PUID=1000
      - PGID=1000

      # Authentication
      - ENABLE_AUTH=true
      - ARIA2_USER=mst
      - ARIA2_PWD=1212
      - RPC_SECRET=your_rpc_secret

      # Aria2 settings
      - ARIA2_EXTERNAL_PORT=443

      # Domain and Caddyhello
      - DOMAIN=https://server.mstservices.tech
      - CADDY_LOG_LEVEL=WARN

      # FileBrowser
      - ENABLE_FILEBROWSER=true

      # Rclone
      - ENABLE_RCLONE=true
      #  - RCLONE_CONFIG_BASE64=...
      - RCLONE_AUTO_UPLOAD_PROVIDER=gdrive,mega,putio  # Only the first remote will be used!
      - RCLONE_AUTO_UPLOAD_REMOTE_PATH=/
      - RCLONE_AUTO_UPLOAD_FILE_MIN_SIZE=10K
      - RCLONE_AUTO_UPLOAD_FILE_MAX_SIZE=80G
      - FIX_DATA_VOLUME_PERMISSIONS=true
    volumes:
      - ./downloads:/Uploads
      - ./rclone.conf:/app/conf/rclone.conf
      - ./cache:/app/.cache
      - ./accounts:/app/accounts
