networks:
  mst:
    driver: bridge

# Total 8 services are there, all run under mst network
services:

  # For aria2,file browser, caddy and index site
  aria2c:
    restart: unless-stopped
    container_name: aria2c
    image: wahyd4/aria2-ui:latest
    ports:
      - "80:80"
      - "443:443"
    networks:
      - mst
    environment:
      # User and permissions
      - PUID=1000
      - PGID=1000

      # Domain and Caddyhello
      - DOMAIN=mstservices.me
      - CADDY_LOG_LEVEL=INFO
      # - CADDY_ACME_CA=https://acme-staging-v02.api.letsencrypt.org/directory

      # Authentication
      - ENABLE_AUTH=true
      - ARIA2_USER=mst
      - ARIA2_PWD=1212
      - RPC_SECRET=your_rpc_secret

      # Aria2 settings
      - ARIA2_EXTERNAL_PORT=443

      # FileBrowser
      - ENABLE_FILEBROWSER=true

      # Rclone
      - ENABLE_RCLONE=false

      #  - RCLONE_CONFIG_BASE64=...
      - RCLONE_AUTO_UPLOAD_PROVIDER=gdrive # Only the first remote will be used! mega,putio
      - RCLONE_AUTO_UPLOAD_REMOTE_PATH=/
      - RCLONE_AUTO_UPLOAD_FILE_MIN_SIZE=10K
      - RCLONE_AUTO_UPLOAD_FILE_MAX_SIZE=45G
      - FIX_DATA_VOLUME_PERMISSIONS=true
    volumes:
      - ./data:/data
      - ./cache:/app/.cache
      - ./config/aria2c/aria2.conf:/app/conf/aria2.conf  #This cuases sometimes gdrive upload to not work
      - ./config/aria2c/rclone.conf:/app/conf/rclone.conf
      # - ./config/aria2c/filebrowser.db:/app/filebrowser.db
      #- ./configs/SecureCaddyfile:/etc/caddy/Caddyfile

  # For Streaming Content
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    ports:
      - "8096:8096"
    volumes:
      - ./config/jellyfin:/config
      - ./data/media:/media
      - /dev/shm:/dev/shm
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
    networks:
      - mst

  # For requesting movies and series
  jellyseerr:
    image: ghcr.io/fallenbagel/jellyseerr:latest
    init: true
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=Asia/Kolkata
      - PORT=5055 #optional
    ports:
      - 5055:5055
    volumes:
      - ./data/media:/media
      - ./config/jellyseerr:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped
    networks:
      - mst

  # For downloading movies
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    ports:
      - "7878:7878"
    volumes:
      - ./config/radarr:/config
      - ./torrents:/downloads
      - ./data/media/movies:/movies
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
      - UMASK_SET=00
    networks:
      - mst

  # For downloading series
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    ports:
      - "8989:8989"
    volumes:
      - ./config/sonarr:/config
      - ./torrents:/downloads
      - ./data/media/tv:/tv
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
      - UMASK_SET=00
    networks:
      - mst

#  # For downloading anime series
#  sonarr-anime:
#    image: lscr.io/linuxserver/sonarr:latest
#    container_name: sonarr-anime
#    restart: unless-stopped
#    ports:
#      - "8990:8989"
#    volumes:
#      - ./config/sonarr-anime:/config
#      - ./torrents:/downloads
#      - ./data/media/anime:/anime
#    environment:
#      - PUID=1000
#      - PGID=1000
#      - TZ=Asia/Kolkata
#      - UMASK_SET=00
#    networks:
#      - mst

  # Torrent Client
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    ports:
      - "45789:45789"
      - "6881:6881"
      - "6881:6881/udp"
    volumes:
      - ./config/qbittorrent:/config
      - ./torrents:/downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
      - WEBUI_PORT=45789
      - DOCKER_MODS=ghcr.io/vuetorrent/vuetorrent-lsio-mod:latest
      - UMASK_SET=002
    networks:
      - mst

  # For searching torrents clients and adding indexers
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    restart: unless-stopped
    ports:
      - "9117:9117"
    volumes:
      - ./config/jackett:/config
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
    networks:
      - mst

  # For bypassing cloudflare
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    restart: unless-stopped
    ports:
      - "8191:8191"
    environment:
      - LOG_LEVEL=info
      - TZ=Asia/Kolkata
    networks:
      - mst

# Don't use plex as it doesn't support remote hosting
#  plex:
#    container_name: plex
#    image: spritsail/plex-media-server
#    volumes:
#      - ./data:/media:rw # The media folder
#      - ./transcode:/transcode # Transcoder temporary directory
#      - ./config:/config # Configurations
#    environment:
#      - LOG_DEBUG=0
#      - LOG_VERBOSE=0
#      - PLEX_CLAIM=claim-5PhyapPgsC31GUA_YHLB
#    restart: unless-stopped
#    hostname: "kens-plex-server" # change the name to whatever you like
#    ports:
#      - "32400:32400" # The web port
#      - "3005:3005" # The following ports are optional
